<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Founders Collective</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">

        <% inc/header.html %>
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Founders Collective</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Step into the Founders Collective, where elite entrepreneurs and professionals converge. <br> Be a part of something great.</h2>
                        <a class="btn btn-primary" href="#signup">Submit your interest</a>
                    </div>
                </div>
            </div>
        </header>
        <section class="projects-section bg-light" id="about">
            <div class="container px-4 px-lg-5">
                
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6 mb-0"><img class="img-fluid" src="img/dq-boot-00.webp" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Expand Your Communication</h4>
                                    <!-- <p class="mb-0 text-white-50">An example of the benfits, or anything else, along with a description.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6 mb-0"><img class="img-fluid" src="img/dq-boot-02.webp" alt="..." /></div>
                    <div class="col-lg-6 ">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Build Better Relationships</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="img/dq-boot-01.webp" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Do More Deals</h4>
                                    <!-- <p class="mb-0 text-white-50">Another example of the benfits, or anything else, along with a description.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="fa fa-file-signature fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-2">Submit your interest to join...</h2>
                        <p class="mb-5 text-white-50"></p>
                        <% inc/form.html %>
                    </div>
                </div>
            </div>
        </section>
        <% inc/footer.html %>
        <% inc/includes.html %>
    </body>
</html>